.UserList{
    background-color:  rgb(216, 225, 241);
    border: 2px solid black;
    width: 60vw;
    margin-left: 20vw;
}
.heading{
    display: flex;
    align-items: flex-start;
    margin: 0 5vw

;
    
}
.H{
    background-color: rgb(216, 225, 241);
    
  margin: 0 10px;
  padding:5px;
  width: 140px;
  
}
.B{
    
  border-bottom: rgb(224, 30, 30) 2px solid;
}
.name{
    margin-left: 20px;
    width: 100px;
  
}
.age{
    margin-left:20px;
    width: 80px;
  
}
.phn{
    margin-left: 10px;
   width: 200px;
   padding-left: 15px;
}
.email{
    width: 250px;
    padding-left: 10px;
}